@media screen and (min-width: 660px) {

    /* Tablet size*/
    #options {
        grid-template-columns: 3fr 1fr 3fr;
        align-items: center;
    }

    #favorites {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    .empty-favs {
        grid-column: 1/3;
    }

    .fav-container:first-of-type {
        grid-column: 1/3;
        background-color: red;
    }
    .loading{
        grid-column: 1/3;
    }



}
