@media screen and (min-width: 660px) {

    /* Tablet size*/
    #options {
        grid-template-columns: 3fr 1fr 3fr;
        align-items: center;
    }



}

@media screen and (min-width: 1024px) {
    /* Desktop size*/

}