:root {
    --primary-color: #8CE4FF;
    --secondary-color: #551a8b;
    --third-color: #FFA239;
    --fourth-color: #FEEE91;
}
*{
    padding: 0;
    margin: 0;
}
* img{
    width: 100%;
    height: auto;
}

body {
    text-align: center;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    color: var(--secondary-color);

}
h1,h2{
    margin-bottom: 0.2em;
}


#social-media {
    display: flex;
    gap: 2em;
    justify-content: center;

}

footer {
    padding-bottom: 1em;
}

footer {
    text-align: center;
}

footer img {
    max-width: 4em;
}